.card{
    background-color: White;
    margin-top: 80px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 50px;
    padding-bottom: 50px;

}

.user-titles{
    font-weight: bold;
}

.user-count{
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    
}

.user-under{
    text-decoration-color: rgb(95, 161, 247) ;
}

.user-buttons{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 8px;
    justify-content: space-between;
    
}

.user-change1{
    display: flex;
    background-color: transparent;
    border: none;
    color: white;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.user-change2{
    display: flex;
    background-color: transparent;
    border: none;
    color: white;
    font-size: large;
    font-weight: bold;
    justify-content: flex-end;
    cursor: pointer;
}

.center-btns{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
    padding-left: 350px;
    padding-right: 350px;   
}

.button-mid{
    border: none;
    background-color: rgb(95, 161, 247);
    color: white;
    border-radius: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    cursor: pointer;
}

.form{
    display: flex;
    background-color: rgb(95, 161, 247);
    
    justify-content: center;
    margin-top: 80px;
    padding-bottom: 50px;
    
    
    
}

.insideForm{
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;

}
